datarobot==3.4.0
datarobot-predict>=1.9.6,<1.10
streamlit>=1.39.0,<2
st-theme>=1.2.3,<2
pydantic>=2.9.2,<2.10
pydantic-settings>=2.5.2,<2.6
eval-type-backport>=0.2.0,<0.3
babel>=2.16,<3
pandas>=2.2.3,<3
